body {
  font-family: "poppins", sans-serif;
}

/* Common Style */
.w-0 {
  width: 0%;
}

/* Header Section */
.dropdown:hover .dropdown-menu {
  display: block;
}
.logo span {
  font-weight: bold;
  color: #2d36eb;
}

.logo img {
  height: 100px;
}

nav .nav-item a {
  font-weight: 600;
  font-size: 12;
  margin-left: 15px;
}
nav .nav-item .nav-link.active {
  color: #2d36eb;
}
nav .nav-item .nav-link:hover {
  color: #2d36eb;
}

/* Home page .banner sectiom */
.home-banner {
  background: #2d36eb;
}

.home-banner .left {
  color: #fff;
}

.home-banner .left h4 {
  font-weight: 400;
  font-size: 16px;
}

.home-banner .left h2 {
  font-weight: 700;
  font-size: 34px;
  text-transform: uppercase;
}

.home-banner .left h3 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

.home-banner .left .button a {
  background: #fff;
  color: #2d36eb;
  border-radius: 0;
  border: 0;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 30px;
}

.home-banner .left .button a:hover {
  background: #3b3b3b;
  color: #fff;
}

.home-banner .left p {
  font-size: 16px;
}

.home-banner .right {
  text-align: right;
}

.home-banner .right img {
  max-width: 100%;
}

/* Home page  .about section */
.home-about {
  background: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 40px;
}
.home-about .left img {
  width: 100%;
  height: auto;
  border: 2px solid #d8d8d8;
}

.home-about .right h3 {
  font-size: 16px;
  color: #2d36eb;
}
.home-about .right h2 {
  font-weight: 700;
  font-size: 34px;
}
.home-about .right p {
  font-size: 14px;
}

.home-about .contact-info table tr td {
  font-size: 14px;
}
.home-about .contact-info i {
  color: #2d36eb;
}
.home-about .contact-info table tr td:nth-child(1) {
  width: 30px;
}

.home-about .social {
  margin-top: 15px;
}

.home-about .social h3 {
  color: #333;
  font-weight: 600px;
}

.home-about .social ul {
  padding-left: 0;
}

.home-about .social ul li {
  list-style-type: none;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #2d36eb;
}

.home-about .social ul li a {
  color: #fff;
  display: block;
}

/* Home page  - skill section */
.home-skill {
  padding-top: 70px;
  padding-bottom: 70px;
}

.home-skill h2 {
  color: #2d36eb;
  font-size: 14px;
  text-align: center;
}

.home-skill h3 {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin-bottom: 30px;
}

.home-skill .progress-text {
  font-size: 14px;
}

.home-skill .progress {
  margin-bottom: 20px;
}

.home-skill ..progress-bar {
  background: #2d36eb;
}
